.buttons {
    text-align: center;
}

.buttons:after {
    content: '';
    display: inline-block;
    width: 99.5%; /* generates an extra transparent line */
}

.userButton {
    background-color: blue;
    margin: 1em 1em 2em 2em;
    border-radius: 0.5em;
    width: 300px;
    height: 100px;
    font-size: 20px;
}

.userButton:hover {
    background-color: cornflowerblue;
}

.itemButton {
    background-color: blue;
    margin: 1em 1em 2em 2em;
    border-radius: 0.5em;
    width: 300px;
    height: 100px;
    font-size: 20px;
}

.itemButton:hover {
    background-color: cornflowerblue;
}

.categoryButton {
    background-color: blue;
    margin: 1em 1em 2em 2em;
    border-radius: 0.5em;
    width: 300px;
    height: 100px;
    font-size: 20px;
}

.categoryButton:hover {
    background-color: cornflowerblue;
}


.ShowElements {
    width: 80%;
    max-height: 25em;
    min-height: 25em;
    overflow: auto;
    padding: 1.2em 1em 0;
    box-shadow: 0 0 30px;
    border-radius: 2em;
    margin: auto;
    text-align: center;
}